html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

#header {
    padding: 0.5rem 0 0.5rem 0;
    background-color: azure;
}

#header h1 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    margin: 2rem 1rem 0 1rem;
}
#repo-name {
    margin-bottom: 20px;
}

#input-markdown {
    font-size: 16px;
    display: block;
    margin-right: 1rem;
    /* width: calc(100% - 1rem); /** css 3 baby **/
    font-family: Consolas;
    border-radius: 0.3rem;
}

#btnSubmit {
    margin-top: 2rem;
}

#output-html {
    border: 1px solid darkmagenta;
    border-radius: 0.2rem;
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
}

#flex-container {
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-direction: row;
}

#left-seg {
    flex: auto;
}

#right-seg {
    flex: 9999;
    display: flex;
    flex-direction: column;
}

/**
DESIGN
**/

button {
    background-color: gainsboro;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid gray;
}

button:hover {
    cursor: pointer;
}

/*
PRINT
http://stackoverflow.com/a/7167406/2295672
*/
@media print {
    #output-html {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        border: 0px;
    }
}